body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    padding: 20px;
    max-width: 800px;
    margin: auto; 
}

.image-grid a {
    display: block;
    color: #333;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: color 0.3s ease, transform 0.3s ease;
}

.image-grid a:hover {
    color: #007acc;
    transform: scale(1.05);
}

.image-grid img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.image-grid img:hover {
    transform: scale(1.05);
}

h1 {
    color: #333;
}

p {
    color: #555;
    font-size: 18px;
}

.cert-image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.cert-image-grid a {
    display: block;
    color: #333;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: color 0.3s ease, transform 0.3s ease;
}

.cert-image-grid a:hover {
    color: #007acc;
    transform: scale(1.05);
}

.cert-image-grid img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.cert-image-grid img:hover {
    transform: scale(1.05);
}